<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% if site.google-analytics %}
  {% include google-analytics.html %}
  {% endif %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="{{ site.baseurl }}/assets/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ff0000">

  <!-- favicon for Android -->
  <link rel="manifest" href="{{ site.baseurl }}/assets/manifest.json">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/android-chrome-192x192.png" sizes="192x192">
  <meta name="application-name" content="{{ site.title }}">
</head>
