<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  {% if page.desc %}
  <meta name="description" content="{{ page.desc }}">
  {% endif %}
  </head>
  <body>
    {% include navbar.html %}

    <main>
      <div class="post">
        <div class="post-info">
          <span>Written by</span>
          {% if page.author %}
              {{ page.author }}
          {% else %}
              {{ site.author.name }}
          {% endif %}

          {% if page.date %}
            <br>
            <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
          {% endif %}
        </div>

        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-line"></div>

        {{ content | replace: '<a href="http', '<a target="_blank" href="http' }}

      </div>

      {% if page.id %}
      {% include share-bar.html %}
      {% endif %}

      <div class="pagination">
        {% if page.next.url %}
          <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
        {% endif %}
        {% if page.previous.url %}
          <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
        {% endif %}

        <a href="#" class="top">Top</a>
      </div>
    </main>

    {% include footer.html %}
    
  </body>
</html>
